<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LauncherLesAuDacieuX.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LauncherLesAuDacieuX.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <LauncherLesAuDacieuX.Properties.Settings>
            <setting name="ARMA3_PATH" serializeAs="String">
                <value>C:/Program Files (x86)/Steam/steamapps/common/Arma 3/TEST/</value>
            </setting>
            <setting name="TS3_PATH" serializeAs="String">
                <value>C:\Program Files\TeamSpeak 3 Client</value>
            </setting>
            <setting name="SERVER_IP" serializeAs="String">
                <value>85.131.221.137</value>
            </setting>
            <setting name="SERVER_PORT" serializeAs="String">
                <value>2302</value>
            </setting>
            <setting name="REMOTE_ARMA3_PATH" serializeAs="String">
                <value>\\85.131.221.137\Arma 3\</value>
            </setting>
        </LauncherLesAuDacieuX.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <LauncherLesAuDacieuX.Properties.Settings>
            <setting name="ADDON_LIST" serializeAs="String">
                <value>@CBA_A3;@task_force_radio;@LADX;</value>
            </setting>
            <setting name="REMOTE_TS3_PATH" serializeAs="String">
                <value>\\85.131.221.137\TeamSpeak 3 Client\</value>
            </setting>
            <setting name="TEMP_FILE_NAME" serializeAs="String">
                <value>AuDacieuX.tmp</value>
            </setting>
        </LauncherLesAuDacieuX.Properties.Settings>
    </userSettings>
</configuration>